@page "/"
@inject DatabaseService DbService
@inject NavigationManager navigationManager

<style>
    table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse; /* 合并边框 */
    }
    th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid #ddd; /* 添加边框 */
    }
    thead th {
        background-color: #f4f4f4; /* 为表头添加背景色 */
    }
    td input {
        width: 100%;
        box-sizing: border-box;
    }
</style>

<div style="display: flex; justify-content: space-between; width: 100%;">
    <table class="table" style="flex: 0 0 50%;">
        <thead>
            <tr>
                <th>用户名</th>
                <th style="width:50px">订单</th>
                <th>金额</th>
                <th>本次结算</th>
                <th>合计</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
            }
            @foreach (var item in userTotals)
            {
                if (index % 2 == 0)
                {
                            <tr>
                                <td>
                                    <input @bind="item.Username" @onblur="SaveDataOnBlur" />
                                </td>
                                <td>
                                    <input @bind="item.Order" type="number" @onblur="SaveDataOnBlur" />
                                </td>
                                <td>
                                    <input @bind="item.Amount" type="number" @onblur="SaveDataOnBlur" />
                                </td>
                                        <td >
                                                    <input @bind="item.Settlement" type="number" @ondblclick="@(() => EnableEditing(item, 1))" readonly="@(!item.IsEditable1)"  @onblur="SaveDataOnBlur" />
                                </td>
                                        <td >
                                            <input value="@item.Total" type="number" readonly="@(!item.IsEditable2)" @ondblclick="@(() => EnableEditing(item, 2))"  @onblur="SaveDataOnBlur" />
                                </td>
                            </tr>
                }
                index++;
            }
        </tbody>
    </table>
    <table class="table" style="flex: 0 0 50%;">
        <thead>
            <tr>
                <th>用户名</th>
                <th style="width:50px">订单</th>
                <th>金额</th>
                <th>本次结算</th>
                <th>合计</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index1 = 0;
            }
            @foreach (var item in userTotals)
            {
                if (index1 % 2 != 0)
                {
                            <tr>
                                <td>
                                    <input @bind="item.Username" @onblur="SaveDataOnBlur" />
                                </td>
                                <td>
                                    <input @bind="item.Order" type="number" @onblur="SaveDataOnBlur" />
                                </td>
                                <td>
                                    <input @bind="item.Amount" type="number" @onblur="SaveDataOnBlur" />
                                </td>
                                <td >
                                                            <input @ondblclick="@(() => EnableEditing(item, 1))" @bind="item.Settlement" type="number" readonly="@(!item.IsEditable1)"  @onblur="SaveDataOnBlur" />
                                </td>
                                         <td >  
                                                                    <input @ondblclick="@(() => EnableEditing(item, 2))" value="@item.Total" type="number" readonly="@(!item.IsEditable2)" @onblur="SaveDataOnBlur" />
                                </td>
                            </tr>
                }
                index1++;
            }
        </tbody>
    </table>
</div>

<button @onclick="AddNewRow">新增一行</button>
<button @onclick="Start">开始</button>
<button @onclick="SaveData">结束</button>
<input @bind="SettlementControl" type="number" @onblur="SaveDataOnBlur" />
<div>
    <table style="font-size:20px">
        <tbody>
            <tr>
                <td>1、3、5总和</td>
                <td>@ALL135</td>
                <td>2、4、6总和</td>
                <td>@ALL246</td>
                <td style="width:100px">1、3、5 - 2、4、6 两者相差数</td>
                <td>@Difference</td>
                <td>总计</td>
                <td>@ALL</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    private List<UserTotal> userTotals = new List<UserTotal>();
    private decimal ALL135 = 0;
    private decimal ALL246 = 0;
    private decimal Difference = 0;
    private decimal ALL = 0;
    private string SettlementControl = string.Empty;

    private void EnableEditing(UserTotal item, int flag)
    {
        Console.WriteLine($"EnableEditing");
        
        switch (flag)
        {

            case 1:
                item.IsEditable1 = true;
                item.Total = flag;
                break;
            case 2:
                item.IsEditable2 = true;
                break;
        }
        StateHasChanged(); // 强制组件重新渲染
    }

    protected override async Task OnInitializedAsync()
    {
        userTotals = await DbService.GetUserTotalsAsync();
        // 不足二十条补足到20
        while (userTotals.Count < 20)
        {
            userTotals.Add(new UserTotal
                {
                    Username = string.Empty,
                    Order = string.Empty,
                    Amount = string.Empty,
                    Settlement = string.Empty,
                    Total = 0
                });
        }
    }

    private void Start()
    {
        foreach (var item in userTotals)
        {
            item.Order = string.Empty;
            item.Amount = string.Empty;
            item.Settlement = string.Empty;
        }
    }

    private async Task SaveData()
    {
        var modificationRecords = new List<ModificationRecord>();

        foreach (var item in userTotals)
        {
            decimal settlement = 0;
            if (decimal.TryParse(item.Settlement, out settlement))
            {
                item.Total += settlement;
                // 使用 TryParse 尝试解析 Amount 和 Settlement，如果解析失败，设置为 0
                decimal amount;
                if (!decimal.TryParse(item.Amount, out amount))
                {
                    amount = 0;
                }

                var modificationRecord = new ModificationRecord
                    {
                        Username = item.Username,
                        Order = item.Order.ToString(),
                        Amount = amount,
                        Settlement = decimal.Parse(item.Settlement)
                    };

                modificationRecords.Add(modificationRecord);
            }
        }
        try
        {
            await DbService.SaveDataWithTransactionAsync(userTotals, modificationRecords);
        }
        catch (Exception ex)
        {
            // 记录错误日志
            Console.WriteLine($"Exception in SaveData: {ex.Message}");
            // 可以考虑展示用户友好的错误信息
        }
    }

    private async Task SaveDataOnBlur(FocusEventArgs e)
    {
        try
        {
            foreach (var item in userTotals)
            {
                // 检查 Order 是否是 "1" 到 "6" 之间的字符串
                if (item.Order != "1" && item.Order != "2" && item.Order != "3" &&
                    item.Order != "4" && item.Order != "5" && item.Order != "6")
                {
                    // 如果不是，将其设置为空字符串
                    item.Order = string.Empty;
                }

                if (item.Order.Trim() == "1" || item.Order.Trim() == "3" || item.Order.Trim() == "5")
                {
                    ALL135 += decimal.Parse(item.Settlement);
                }
                else if (item.Order.Trim() == "2" || item.Order.Trim() == "4" || item.Order.Trim() == "6")
                {
                    ALL246 += decimal.Parse(item.Settlement);
                }

                Difference = ALL135 - ALL246;

                item.IsEditable2 = false;
            }
            await DbService.SaveDataWithTransactionAsync(userTotals, new List<ModificationRecord>());
            StateHasChanged(); // 强制组件重新渲染
        }
        catch (Exception ex)
        {
            // 记录错误日志
            Console.WriteLine($"Exception in SaveData: {ex.Message}");
            // 可以考虑展示用户友好的错误信息
        }
    }

    private void AddNewRow()
    {
        userTotals.Add(new UserTotal
            {
                Username = string.Empty,
                Order = string.Empty,
                Amount = string.Empty,
                Settlement = string.Empty,
                Total = 0
            });
    }

    private void ChangeSettlementControl()
    {
        foreach (var item in userTotals)
        {
            // 检查 SettlementControl 是否是 "1"、"3" 或 "5"
            if (SettlementControl.Trim() == "1" || SettlementControl.Trim() == "3" || SettlementControl.Trim() == "5")
            {
                ALL135 += decimal.Parse(item.Settlement);
            }
            // 检查 SettlementControl 是否是 "2"、"4" 或 "6"
            else if (SettlementControl.Trim() == "2" || SettlementControl.Trim() == "4" || SettlementControl.Trim() == "6")
            {
                ALL246 += decimal.Parse(item.Settlement);
            }
            ALL += decimal.Parse(item.Total);
        }
        Difference = ALL135 - ALL246;
    }
}
